*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  font-family: "Hanken Grotesk", Arial;
  background-color: #000839;
  position: relative; /* Keeps it in the document flow */
  width: 100%; /* Ensure it spans the full width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for separation */
}

.logo-nav {
  display: flex;
}

.logo {
  height: 0; /* Let height adjust according to the aspect ratio */
  width: 160px; /* Adjust the width to make the logo smaller */
}

.menu-icon {
}

.logo img {
  width: 100%; /* Ensures the image fills the container (if needed) */
  height: auto; /* Keeps the aspect ratio */
  padding-top: 25px;
  padding-left: 40px;
}

.user-icon i {
  font-size: 1.5rem;
  color: #fff;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-image: url("./images/landing.png"); /* Replace with your image path */
  background-size: cover;  /* Ensure the image covers the entire element */
  background-position: center;  /* Center the image */
  background-repeat: no-repeat;  /* Prevent the image from repeating */
  height: 900px;  /* Ensure the background takes up the full height of the viewport */
}

.hero-content {
  height: 863px;
  width: 1440px;
  text-align: center;
  color: #fff;
  background: #fff(1, 0, 0, 0.6);
  border-radius: 8px;
  max-width: 1100px;
}

.hero-content h2 {
  padding-top: 15% ;
  font-size: 6rem;
  color: #000839;
  font-family: "Hanken Grotesk", Arial;
  line-height: 5rem;
}

.hero-content p {
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
  font-weight: 700;
  font-family: "Hanken Grotesk", Arial;
  color: #000839;
}

/* Search Bar */
/* Centering the search bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: 50px;
}

/* Dropdown and input styling */
.search-bar .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1000px; /* Adjust the size */
  width: 100%;
}

.search-bar .dropdown {
  padding: 1.445rem;
  border-radius: 50px 0px 0px 50px;
  border: none;
  font-size: medium;
  font-family: "Hanken Grotesk", Arial;
  font-weight: 600;
  width: 100%; /* Full width */
}

.search-bar input {
  padding: 1.5rem;
  border-radius: 0px 50px 50px 0px;
  border: none;
  font-size: medium;
  font-family: "Hanken Grotesk", Arial;
  font-weight: 600;
  width: 100%;
}

.search-bar button {
  top: 50%;
  transform: translateX(-120%);
  background-color: #000839;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  border: none;
}

.search-button img {
  width: 19px; /* Adjust size as needed */
  height: 17px;
}

.recent-searches {
  margin-top: 2rem;
  position: relative;
  font-size: small;
  font-family: "Hanken Grotesk", Arial;
  padding-bottom: 35%;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between; /* Align the text and arrow at both ends */
  align-items: center;
  background: #000839;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: large;
  border-radius: 8px;
  cursor: pointer;
  max-width: 86%; /* Adjust width as per your design */
  transform: translateX(8%); /* Shift left by half its own width */
}

.dropdown-toggle:hover {
  background: rgb(2, 15, 77);
}

.arrow {
  font-size: 1.5rem; /* Make the arrow larger */
  margin-left: 0.5rem; /* Space between the text and arrow */
}

.dropdown-content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 86%; /* Adjust width as needed */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap into rows */
  max-height: calc(6 * 4rem); /* Approximate height for 6 items (adjust per item size) */
  overflow: hidden; /* Hide extra content beyond 6 items */
  text-align: left;
}

.dropdown-content::-webkit-scrollbar {
  height: 8px; /* Set scrollbar height */
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #000839; /* Scrollbar color */
  border-radius: 4px; /* Rounded edges */
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #03115f; /* Darker color on hover */
}

.dropdown-content::-webkit-scrollbar-track {
  margin: 5px;
}

.dropdown-content .search-card {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Align content between the left and right */
  align-items: center; /* Vertically align items */
  margin: 0.3rem; /* Add spacing between items */
  background: #F2F4FA;
  padding: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  width: 142px;
}

.search-card:hover {
  background: #e9ecef;
}

.search-info {
  font-family: "Hanken Grotesk", Arial;
  display: flex; /* Align items horizontally */
  flex-grow: 1; /* Allow this to take the remaining space */
  justify-content: flex-start; /* Keep elements aligned to the left */
}

.search-info p {
  font-weight: bold;
  font-family: "Hanken Grotesk", Arial;
  font-size: large;
  margin: 0;
}

.search-info span {
  font-family: "Hanken Grotesk", Arial;
  font-size: small;
  color: #000839;
  font-weight: 500;
}

.search-info small {
  font-family: "Hanken Grotesk", Arial;
  font-size: x-small;
  color: #aaa;
}

.time-and-delete {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Full width for time and delete button */
  align-items: center;
}

.time {
  flex-grow: 1; /* Allow time to take remaining space */
  text-align: left; /* Ensure the time is aligned to the left */
}

.delete-btn {
  background: none;
  border: none;
  color: #000839;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 35px; /* Space between time and delete button */
  align-self: flex-start; /* Align the button at the top of the card */
}

.delete-btn:hover {
  color: #000524;
}

.empty-message {
  text-align: center;
  color: #aaa;
  font-size: 0.9rem;
  padding: 1rem;
}

/* Carousel Search */
.carousel-combine {
  background-color: #fff;
  background-size: cover;  /* Ensure the image covers the entire element */
  height: 900px;  /* Ensure the background takes up the full height of the viewport */
}

.recent-searches-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.carousel-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel-container {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  flex-wrap: nowrap;
}

.carousel-item-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}

.carousel-item-image {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  object-fit: cover;
  margin-bottom: 0.5rem;
  color: #000839;
}

.carousel-item-label {
  font-size: 0.9rem;
  color: #000839;
  text-align: center;
  font-family: "Hanken Grotesk", Arial;
  font-weight: 700;
}

.carousel-item-button:hover .carousel-item-label {
  color: #007bff; /* Add hover effect */
}

.carousel-button img {
  width: 40px; /* Adjust size as needed */
  height: 40px;
}

/* Triple-Image */

.triple-image {
  display: flex;
  justify-content: center;
}

.image-item img {
  width: 50%;
  margin-top: 4rem;
}


.image-item {
  text-align: center;
}

.image-text {
  display: block;
  margin-top: 1rem; /* Adjust as needed */
  font-size: 1.5rem; /* Adjust as needed */
  color: #2EC1C7; /* Adjust text color as needed */
  font-family: "Hanken Grotesk", Arial;
  font-weight: 800;
  max-width: 250px;
  margin-left: 65px;
}

.triple-image p{
  font-weight: bold;
  font-family: "Hanken Grotesk", Arial;
  font-size: medium;
  margin-left: 65px;
  max-width: 250px;
  margin-top: -13px;
}